$meat-panel-size: 300px;
$meat-panel-body-padding: 0px;

.meal-panel {
  width: $meat-panel-size;
  cursor: pointer;

  .meal-panel-body {
    padding: $meat-panel-body-padding $meat-panel-body-padding 0;
    width: inherit;
    height: $meat-panel-size;

    .meal-panel-body-image {
      width: calc(100% - 2 * #{$meat-panel-body-padding});
      height: calc(100% - 2 * #{$meat-panel-body-padding});
    }

    .meal-panel-body-text-wrap {
      position: relative;
      top: -50px;
      height: 50px;
      width: calc(#{$meat-panel-size} - 2 * #{$meat-panel-body-padding});
      border-top: 1px solid #ddd;
      background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .meal-panel-body-text {
        font-size: 16px;
      }
    }
  }

  .meal-panel-footer {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .meal-panel-footer-author {
      display: flex;
      flex-direction: row;
      align-items: center;

      .meal-panel-footer-author-additional {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;

        .meal-panel-footer-author-name {
          font-size: 16px;
        }

        .meal-panel-footer-author-rating {
          padding-top: 4px;

          .el-rate__icon {
            font-size: 14px;
            margin-right: 0;
            cursor: pointer;
          }
        }
      }

    }

    .meal-panel-footer-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;

      .meal-panel-footer-info-price {
        font-size: 14px;
      }

      .meal-panel-footer-info-places {
        font-size: 13px;
      }
    }
  }
}
