.meal-single-header-additional-info-wrap {
  position: relative;
  top: -15px;

  .meal-single-header-additional-info {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: #8492A6;
  }
}

.meal-single-body {
  .meal-single-body-part {
    color: #8492A6;
    padding: 5px 20px;
  }

  .meal-single-body-guests-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;

    .meal-single-body-guest {
      margin-right: 5px;
      margin-left: -25px;

      &:hover {
        z-index: 2;
      }
    }
  }
}
