.user-avatar {
  .user-avatar-image {
    border-radius: 50%;
  }
  &.has-popover {
    &:hover {
      -webkit-animation: pulse 0.5s;
      animation: pulse 0.5s;
    }
  }
}

.user-avatar-popover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .user-avatar-popover-name {
    margin-top: 0;
  }
}
