@import "mixins";
@import "overrides";
@import "panel";
@import "meal-panel";
@import "user-avatar";
@import "rating";
@import "home";
@import "nav";

.padding-left {
  padding-left: 8px;
}

.container-tiles {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    margin: 10px;
  }
}

.full-size-background {
  background: url('../../../static/images/home_header.jpg') center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
