@import "mixins";
@import "overrides";
@import "panel";
@import "meal-panel";
@import "user-avatar";
@import "rating";
@import "home";
@import "nav";
@import "user-panel";
@import "meal-single";
@import "free-places-text";

.padding-left {
  padding-left: 8px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.container-tiles {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    margin: 10px;
  }
}

.full-size-background {
  width: 100vw;
  height: 100vh;

  & > .el-row {
    overflow: auto;
    margin-top: -20px;
    padding-top: 20px;
    height: calc(100vh - 63px);
    background: url('../../../static/images/home_header.png') no-repeat fixed center;
    background-size: cover;
  }
}

.form-part {
  margin-bottom: 5em;

  .form-part-title {
    margin-bottom: 10px;
  }
}
