@import "mixins";
@import "meal-panel";
@import "user-avatar";
@import "rating";
@import "home";

.padding-left {
  padding-left: 8px;
}

.container-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-nav-margin {
  margin-bottom: 0;
}
